:root {
    --red: #E63946;
    --white: #F1FAEE;
    --dark-blue: #1D3557;
    --ligth-blue: #A8DADC;
    --mid-blue: #457B9D;
}

@media only screen and (min-width: 992px) {
    #landing {
        padding-bottom: 20px;
    }

    .img-roll {
        margin-left: 20px;
    }

    .img-roll > img {
        width: 150px;
    }
}

body {
    background: linear-gradient(
        to right, var(--white) 20%, 
        var(--dark-blue) 20%,
        var(--dark-blue) 80%, 
        var(--white) 80%
        );
    grid-template-columns: 75fr 25fr;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    color: var(--red);
    transition: background 0.8s ease, grid-template-columns 0.6s ease;
    overflow: hidden;
}

body.proj {
        background: linear-gradient( to right,
        var(--dark-blue) 84%, 
        var(--white) 84%
        );
    grid-template-columns: 85fr 15fr;
  transition: background 0.8s ease, grid-template-columns 0.6s ease;
}

body.illustbg {
    background: linear-gradient( to right,
        var(--dark-blue) 84%, 
        var(--red) 84%
        );
    grid-template-columns: 85fr 15fr;
  transition: background 0.3s ease, grid-template-columns 0.6s ease;
}

#content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

#content::-webkit-scrollbar {
  display: none;
}

.panel {
    height: 100vh;
    scroll-snap-align: start;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    place-items: left;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    animation: floatUpFadeIn 1s ease-out forwards;
}

.nav-bttn {
    border: solid 2px var(--mid-blue);
    text-align: left;
    border-radius: 5px;
    background-color: var(--ligth-blue);
    width: max-content;
    padding-right: 5rem;
    height: 4rem;
    font-size: 18px;
    font-weight: 800;
    color: var(--mid-blue);
    opacity: 90%;
    transition: 0.3s transform ease-in;
}

.nav-bttn:hover {
    transform: translateX(10px);
    color: var(--ligth-blue);
    background-color: var(--mid-blue);
    border: solid var(--dark-blue) 2px;
}

#landing {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
}

#proj-sect.active {
    background: linear-gradient(
        to right, 
        var(--dark-blue) 90%, 
        var(--white) 90%
        );
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes floatUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#bio {
    animation: floatUpFadeIn 1s ease-out forwards;
    margin-left: 15vw;
    margin-top: 10vw;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
}

#img-name>img {
    width: 20vw;
    border-radius: 5px;
    animation:  float 2s infinite alternate;
}

#img-name {
    position: relative;
}

#img-name::after {
    content: "KIRRA";
    position: absolute;
    left: 40%;
    bottom: -10%;
    font-size: 70px;
    color: var(--red);
    font-weight: bold;
}

.contact {
    color: var(--red);
    border-color: var(--red);
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    background-color: var(--dark-blue);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(30px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

h1.off-landing {
    animation: slide-in 0.5s ease-in;
}

h1.illust {
    color: var(--red);
}

#skills{
    display: grid;
    grid-auto-flow: column;
}

.skills {
    background-color: var(--ligth-blue);
    border-radius: 5px;
    margin: 5rem;
    padding: 1rem;
    border: var(--mid-blue) 2px solid;
    animation: floatUpFadeIn 0.6s ease-out forwards;
}

.skills > p {
    color: var(--mid-blue);
    font-weight: 800;
}

.badge, .github-link {
    color: var(--ligth-blue);
    background-color: var(--mid-blue);
    border: var(--dark-blue) 2px solid ;
    border-radius: 5px;
    padding: .5em;
}

#proj-sect {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

h1 {
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: var(--white);
    font-size: 70px;
    margin-top: 1rem;
}

.img {
    height: 550px;
    background-color: var(--ligth-blue);
    width: 250px;
    overflow: hidden;
}

.proj-img {
    height: 500px;
    opacity: 80%;
}

.project:hover .proj-img {
    opacity: 100%;
    transition: opacity ease-in .5s;
}

#proj-items {
    display: flex;
    grid-auto-flow: column;
    justify-content: center;
    scrollbar-width: none;
}

.proj-items::-webkit-scrollbar {
  display: none;
}

.project {
    background-color: var(--ligth-blue);
    margin: 2% 3% 2% 3%;
    position: relative;
    height: 70vh;
    border-radius: 5px;
}

.project p {
    color: var(--dark-blue);
}

.github-link {
    opacity: 0;
    transition: 0.5s opacity;
}

.info-card {
    background-color: var(--mid-blue);
    color: var(--ligth-blue);
    border-radius: 5px;
    margin: 0;
    padding: 1em;
    z-index: 100;
    width: inherit;
    position: absolute;
    bottom: -35px;
    transition: 0.3s padding-bottom ease-in;
}

.project:hover .info-card {
    padding-bottom: 15%;
}

.project:hover .github-link {
    display: inline;
    opacity: 80%;
}

.github-link {
    color: var(--ligth-blue);
    background-color: var(--dark-blue);
    border-color: var(--ligth-blue);
}

a {
    text-decoration: none;
}

#illustrations {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 80px;
    margin: 2rem;
    gap: 0px;
}

.main-preview {
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view {
    height: 82vh;
    animation: slide 0.5s ease;
}

@keyframes slide {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.img-roll {
    display: grid;
    gap: 3%;
    overflow: scroll;
    width: max-content;
    scrollbar-width: none;
    height: 80vh;
}

#content::-webkit-scrollbar {
  display: none;
}

.gallery-ligth-blue {
    height: 50px;
}

#design {
    margin-left: 15vw;
    display: grid;
}

#design-gallery {
    display: grid;
    grid-template-areas: 
    "ani game"
    "avi game";
    margin-left: 2vw;
    gap: 20px;
}

.d-group section {
    border-color: white;
    border-width: 10px;
    border-radius: 2%;
}

.d-group h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.PGJ2024 {
    grid-area: game;
}

.d-img {
    height: 250px;
    border-radius: 5px;
}

.sprite {
    height: 150px;
}

#copyright {
    color: #457B9D;
    font-size: large;
}