:root {
    --bg-accent: rgb(255, 255, 255);
    --bg-main: rgb(20, 46, 94);
    --bttn: rgb(112, 184, 184);
    --skill-bg: rgb(112, 184, 184);
}

body {
    background: linear-gradient(
        to right,
        var(--bg-main) 84%, 
        var(--bg-accent) 84%
        );
    display: grid;
    grid-template-columns: 85fr 15fr;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin-right: 0%;
}

img {
    width: 6vw;
    border-radius: 5px;
    margin-top: 6%;
}

#heading {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    margin-left: 5%;
}

h1 {
    text-align: right;
    margin-right: 0px;
    padding-right: 0px;
    color: var(--bg-accent);
    font-size: 80px;
}

#projects {
    display: grid;
    overflow: scroll;
}

.project {
    background-color: var(--bttn);
    border-radius: 5px;
    opacity: 40%;
    margin: 2% 5% 2% 5%
}

.project:hover {
    opacity: 100%;
}

#whisker-garden {
    color: var(--bg-accent);
    background-image: url(./illust/2ds-poster.png);
}

nav {
    display: grid;
    padding-top: 50%;
    padding-bottom: 50%;
}

.link-bttn {
    margin: 1%;
    width: max-content;
    padding: 5% 15% 5% 15%;
    height: max-content;
    border-style: none;
    text-align: right;
    border-radius: 5px;
    background-color: var(--bttn);
}


