:root {
    --bold-txt: #E63946;
    --bg-accent: #F1FAEE;
    --bg-main: #1D3557;
    --bttn: #A8DADC;
    --alt-txt: #457B9D;
}

body {
    background: linear-gradient(
        to right, var(--bg-accent) 20%, 
        var(--bg-main) 20%,
        var(--bg-main) 80%, 
        var(--bg-accent) 80%
        );
    grid-template-columns: 75fr 25fr;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    color: var(--bold-txt);
    scroll-snap-type: y mandatory;
    transition: background 0.8s ease, grid-template-columns 0.6s ease;
}

body.proj {
        background: linear-gradient( to right,
        var(--bg-main) 84%, 
        var(--bg-accent) 84%
        );
    grid-template-columns: 85fr 15fr;
  transition: background 0.8s ease, grid-template-columns 0.6s ease;
}


body.illust {
    background: linear-gradient( to right,
        var(--bg-main) 84%, 
        var(--bold-txt) 84%
        );
    grid-template-columns: 85fr 15fr;
}

#illust{
    color: var(--bold-txt);
}

button {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    place-items: left;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    animation: floatUpFadeIn 1s ease-out forwards;
}

.nav-bttn {
    border: solid 2px var(--alt-txt);
    text-align: left;
    border-radius: 5px;
    background-color: var(--bttn);
    width: max-content;
    padding-right: 5rem;
    height: 4rem;
    font-size: 18px;
    font-weight: 800;
    color: var(--alt-txt);
    opacity: 90%;
}

.nav-bttn:hover {
    animation: 0.3s hover ease-in;
    transform: translateX(10px);
    color: var(--bttn);
    background-color: var(--alt-txt);
    border: solid var(--bg-main) 2px;
}

.nav-bttn.illust {
        background-color: var(--bold-txt);
        color: var(--bg-main);
        border-color: var(--bg-main);
}

@keyframes hover {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(10px);
    }
}


#landing {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
}

.panel {
    height: 100vh;
    scroll-snap-align: start;
}

#proj-sect.active {
    background: linear-gradient(
        to right, 
        var(--bg-main) 90%, 
        var(--bg-accent) 90%
        );
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes floatUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#bio {
    animation: floatUpFadeIn 1s ease-out forwards;
    margin-left: 15vw;
    margin-top: 10vw;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
}

#img-name>img {
    width: 20vw;
    border-radius: 5px;
    animation:  float 2s infinite alternate;
}

#img-name {
    position: relative;
}

#img-name::after {
    content: "KIRRA";
    position: absolute;
    left: 40%;
    bottom: -10%;
    font-size: 70px;
    color: var(--bold-txt);
    font-weight: bold;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(30px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

h1.illust, h1.proj {
    animation: slide-in 0.5s ease-in;
}

#skills{
    display: grid;
    grid-auto-flow: column;
}

.skills {
    background-color: var(--bttn);
    border-radius: 5px;
    margin: 5rem;
    padding: 1rem;
    border: var(--alt-txt) 2px solid;
    animation: floatUpFadeIn 0.6s ease-out forwards;
}

.skills > p {
    color: var(--alt-txt);
    font-weight: 800;
}

.badge {
    color: var(--bttn);
    background-color: var(--alt-txt);
    border: var(--bg-main) 2px solid ;
    border-radius: 5px;
    padding: .5em;
}

#proj-sect {
    display: grid;
    grid-template-rows: 1fr 4fr;
    overflow: scroll;
}

h1 {
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: var(--bg-accent);
    font-size: 70px;
}

#proj-items {
    overflow: scroll;
    display: flex;
    justify-content: center;
    scrollbar-width: none;
}

.proj-items::-webkit-scrollbar {
  display: none;
}

.project {
    background-color: var(--bttn);
    border-radius: 5px;
    opacity: 70%;
    margin: 2% 5% 2% 5%;
}

.project p {
    color: var(--bg-main);
}

.project:hover {
    opacity: 100%;
    transition: 0.7s transform ease-in;
}

.info-card {
    background-color: var(--alt-txt);
    color: var(--bttn);
    border-radius: 5px;
    margin: 0;
    padding: 1em;
    padding-right: 0px;
    z-index: 100;
    width: inherit;
    position: relative;
    top: 75%;
}

.project:hover .info-card {
    transform: translateY(-10px);
}

#whisker-garden {
    color: var(--bg-accent);
    background-image: url(./projects/wgarden.png);
}

.filter {
    color: var(--bold-txt);
    background-color: var(--bg-main);
}

